body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

/*1. se edita el header con display flex para que el menu se coloque de manera horizontal*/
header {
  display: flex;
  *justify-content: space-between; /*4. para crear espacio entre el logo y el menu (separa todo lo que este entre el header)*/
  height: 150px;
  background-color: rgba(43, 212, 231, 0.5);
  align-items: center; /*austar contenidos en vertical al medio*/
  padding: 10px;
}

/*2. como el logo se encuentra en un div diferente, tambien se hace display flex para quese posicione horizontalmente*/
.logo {
  display: flex;
  align-items: center;
  padding-left: 25px;
  padding-bottom: 55px;
}

/*3. se modifica tamaño y posicion de logo*/
.logo img {
  height: 100px;
  margin-right: 15px; /*distanciar el logo del nav*/
}

nav a {
  font-weight: 600;
  font-size: 35px;
  padding-right: 120px;  
}

/*para modificar cuando se le pase el clic por encima */
nav a:hover {
  color: blue;
}

/*Barra de busqueda*/
.search input[type=text]{
  width:300px;
  height:45px;
  border-radius:25px;
  border: none;
  font-size: 25px;
}
    
.search{
  float:right;
  margin:7px;
}
    
.search button{
  background-color: #0074D9;
  border-radius: 15px;
  width: 45px;
  color: #f2f2f2;
  float: right;
  padding: 5px 10px;
  margin-right: 16px;
  font-size: 30px;
  border: none;
  cursor: pointer;
  margin-top: 3px;
} 
/*______________________________________*/

section{
  float: left;
  width: 20%;
  padding: 40px;
  font-size: 25px;
  font-weight: bold;
  margin: 60px;
}

.form-register {
  background-color: rgba(43, 212, 231, 0.5);
  border: aqua;
  border-radius: 60px;
}

.controls{
  margin: 15px;
  float:right;
  padding: 10px 130px 20px 0px;
}

div .botons{
  color: white;
  float:right;
  background-color: #0074D9;
  border: none;
  border-radius: 50px;
  padding: 10px 10px 10px 0px;
  margin: 0px;
  width: 150px;
}