body {
  font-family: sans-serif;}

/*Edición header*/
header {
  display: flex;
  height: 150px;
  background-color: #3CBFEF;
  align-items: center; /*Jaustar contenidos en vertical al medio*/}

.logo {
  align-items: center;
  margin-left: 50px;  
  margin-top: 10px;
  height: 120px;}

/* Se modifica tamaño del logo*/
.logo img {
  height: 120px;}

nav {
  font-weight: 600; /*Efecto de negrilla (rellenar letra)*/
  font-size: 35px;  
  margin-left: 400px;  
  display: flex;}

a {
  text-decoration: none;
  color: white;}

.boton_comprar {
  padding-top: 25px;
  padding-right: 150px;}

.boton_vender {
  padding-top: 25px;}

nav a:hover {
  color: blue;/*modificar color cuando se pasa el mouse porn encima */}

.input-group{
  margin-top: 30px;
  margin-left: 300px;}/*Barra de busqueda*/

input {
  width:250px;
  height: 40px;
  border-radius: 15px;
  text-align: center;
  font-size: 20px;}

.input-group button {
  width:100px;
  height: 40px;
  border-radius: 15px;
  background-color: grey;
  color: white;
  font-size: 25px;}

  .btn_buscar:hover {
    cursor: pointer;   
    background-color: #0074D9;
  }

/*______________________________________*/
 
/*_____________BANNER SUPERIOR____________*/

.contenido_banner {
  display: flex;
  align-items: center;
  justify-content: space-between;  
  background-color: #3CBFEF;}

.contenido_banner img{  
  margin-right: -85px; /*tuvo que ponerse la diferencia en negativo porque la imagen quedó en png pero no está recortada al límite*/
  margin-left: 0px;}

.contenido_banner h1 {
  margin-right: 0px;
  margin-left: 150px;
  font-size: 60px;
  color: white;}

.contenido_banner p {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 150px;
  font-size: 40px;
  color: white;}

/*__________DESCRIPCIÓN FINAL_______________*/

.text_descripcion p{
  margin-top: 75px;
  text-align: center;
  font-size: 40px;
  color: #3CBFEF;}

.text_descripcion h1{
  text-align: center;
  font-size: 60px;}

.leyenda p{
  margin-top: 0px;
  text-align: center;
  font-size: 40px;
  color: grey;}

.imagenes {
  justify-content: space-between;
  display: flex;
  margin-right: 450px;
  margin-left: 450px;}

.textos {
  justify-content: space-between;
  display: flex;
  margin-right: 500px;
  margin-left: 500px;
  text-align: center;}

.textos h1 {
  font-size: 40px;}

.textos p {
  font-size: 30px;}
